[submodule "external/jssy"]
	path = external/jssy
	url = https://github.com/tihmstar/jssy.git
[submodule "external/libfragmentzip"]
	path = external/libfragmentzip
	url = https://github.com/encounter/libfragmentzip.git
